h2 {
  font-family: "Poppins", segoe UI, Arial;
}

h3 {
  font-family: "Poppins", segoe UI, Arial;
}

h4 {
  font-family: "Poppins", segoe UI, Arial;
}

p {
  font-family: "Poppins", segoe UI, Arial;
}

a {
  font-family: "Poppins", segoe UI, Arial;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 24px;
  }
}
#logo {
  margin-top: 30px;
}

#hamburger {
  margin-top: 50px;
  font-size: 50px;
  transition: all 0.5s ease;
}

#main-nav {
  display: none;
  text-align: center;
  z-index: 1;
  position: absolute;
  height: 200px;
  width: 100%;
}

#hamburger.menu {
  transform: rotate(90deg);
  z-index: 3;
  color: #fff;
}

#burger-con {
  display: none;
}

#main-nav.slide-toggle {
  display: block;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #747474;
  opacity: 70%;
  position: absolute;
  z-index: 2;
  border-radius: 10px;
}

#main-nav ul {
  list-style: none;
  padding: 40px;
}

#main-nav li {
  padding: 10px 0 10px 0;
}

#main-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  border-bottom: 2px solid #fff;
}

#hamburger {
  cursor: pointer;
}

#main-header {
  margin-bottom: 70px;
}

@media screen and (min-width: 768px) {
  #hamburger {
    display: none;
  }
  #main-nav {
    display: block;
    margin-top: 40px;
    background-color: transparent;
    position: relative;
  }
  #main-nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }
  #main-nav ul a {
    text-decoration: none;
    font-size: 20px;
    color: #707070;
  }
  #main-nav ul a:hover {
    color: black;
    border-bottom: 2px solid black;
    transition: 0.1s ease-in;
  }
  #main-nav.slide-toggle {
    list-style: none;
    background-color: transparent;
    position: relative;
  }
}
#main-footer {
  background-color: #ebebeb;
  padding-bottom: 35px;
}

.footer-logo {
  margin-top: 35px;
  margin-bottom: 25px;
}

#main-footer h3 {
  font-size: 35px;
  margin-bottom: 40px;
}

#main-footer h4 {
  margin-top: 35px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

#main-footer a {
  text-decoration: none;
  color: #000000;
}

#main-footer p {
  font-size: 20px;
  line-height: 30px;
}

#email {
  height: 73px;
  border-radius: 10px;
  border: 1px solid #707070;
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  #main-footer h4 {
    grid-row: 1;
  }
  #main-footer h3 {
    font-size: 38px;
  }
  .footer-logo {
    grid-row: 1;
    cursor: pointer;
  }
  #main-footer p {
    grid-row: 2;
  }
  #main-footer a {
    grid-row: 2;
  }
  #main-footer p:hover {
    color: #707070;
  }
  #email-header {
    grid-row: 2;
  }
  #email {
    grid-row: 2;
    margin-top: 200px;
  }
}
.card {
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

:not(:defined) > * {
  display: none;
}

model-viewer {
  background-color: #ffffff;
  max-width: 1200px;
  height: 700px;
  width: auto;
}

.Hotspot {
  background: url(../images/logo.svg) center no-repeat;
  border-radius: 32px;
  border: 0;
  transition: all 1s ease-in-out;
  cursor: pointer;
  height: 45px;
  padding: 8px;
  width: 45px;
}

.Hotspot:not([data-visible]) {
  background: transparent;
  box-shadow: none;
  height: 32px;
  pointer-events: none;
  width: 32px;
}

.Hotspot:focus {
  border: 4px solid rgb(0, 128, 200);
  height: 32px;
  outline: none;
  width: 32px;
}

.Hotspot > * {
  opacity: 1;
  transform: translateY(-50%);
}

.HotspotAnnotation p {
  color: #fff;
  font-size: 15px;
}

.HotspotAnnotation h2 {
  color: rgb(179, 72, 0);
  font-size: 20px;
  line-height: 1.25;
  margin: 5px;
}

.HotspotAnnotation {
  background: gray;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: -moz-max-content;
  width: max-content;
}

.Hotspot:not([data-visible]) > * {
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(-50% + 4px));
  transition: transform 0.3s, opacity 0.3s;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

#outershell {
  max-width: 1200px;
  position: relative;
}

#imageSlider {
  position: relative;
  max-width: 1200px;
  height: 60vh;
}

.slideImage {
  position: absolute;
  left: 0;
  right: 0;
  height: 550px;
}

#image-right {
  background: url(../images/x-ray/x-ray-earbuds-l.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#image-left {
  background: url(../images/x-ray/x-ray-earbuds-r.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 50%;
  background-attachment: fixed;
}

#image-drag {
  background-color: orange;
  left: 50%;
  width: 8px;
  cursor: pointer;
}

#earbud-scroll {
  max-width: 100%;
}

#hero-text {
  margin-top: 10px;
  margin-bottom: 25px;
}

#hero-text h3 {
  font-size: 35px;
}

#hero-text p {
  margin-top: 10px;
  color: #707070;
}

#check-product {
  height: 48px;
  background-color: #000;
  border-radius: 10px;
  color: white;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

#check-product a {
  color: #fff;
  text-decoration: none;
}

#check-product a:hover {
  color: #000;
}

.scroll-animation {
  margin-bottom: 40px;
}

#outershell {
  display: none;
}

#best {
  margin-top: 40px;
  margin-bottom: 25px;
}

#best h3 {
  font-size: 28px;
}

#quality {
  margin-top: 80px;
}

#quality h3 {
  font-size: 28px;
}

#quality p {
  margin-bottom: 70px;
}

#color-boxes {
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
}

#blue {
  width: 77px;
  height: 77px;
  border: 1px solid #000;
  background-color: rgb(21, 21, 172);
}

#red {
  width: 77px;
  height: 77px;
  background-color: #DA8483;
  border: 1px solid #000;
}

#black {
  width: 77px;
  height: 77px;
  background-color: #000;
  border: 1px solid #000;
}

#yellow {
  width: 77px;
  height: 77px;
  background-color: #FFA91F;
  border: 1px solid #000;
}

#product-text {
  font-size: 24px;
}

#product p {
  margin-bottom: 25px;
}

#product-text p {
  line-height: 1.5;
}

#angles {
  margin-top: 65px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.angle-sizes {
  width: 77px;
  height: 77px;
  border: 2px solid black;
}

.componets {
  margin-top: 20px;
}

.feature-box {
  height: 209px;
  border-radius: 10px;
  background-color: #EDEDED;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.feature-box:hover i {
  font-size: 50px;
  transition: all 0.5s ease;
}

.feature-box p {
  font-size: 20px;
  margin-top: 35px;
}

.feature-box i {
  font-size: 35px;
}

#scroll-con {
  height: 500px;
}

@media screen and (min-width: 768px) {
  #hero-text {
    grid-row: 1;
  }
  #hero-text h3 {
    font-size: 30px;
  }
  #hero-text p {
    font-size: 24px;
  }
  #check-product {
    grid-row: 2;
    cursor: pointer;
    width: 100%;
  }
  #check-product:hover {
    background: transparent;
    color: #000;
    font-weight: bold;
    border: 2px solid black;
    cursor: pointer;
  }
  #scroll-con {
    height: 1080px;
  }
  .mobile-x-ray {
    display: none;
  }
  #outershell {
    display: block;
  }
  .componets {
    display: flex;
    justify-content: space-between;
  }
  #best {
    margin-bottom: 80px;
    margin-top: 100px;
  }
  #quality {
    margin-bottom: 30px;
  }
  #product-image {
    grid-row: 1;
  }
  #quality h3 {
    font-size: 30px;
    margin-bottom: 90px;
  }
  #quality p {
    font-size: 20px;
    margin: 0;
  }
  #angles {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 450px;
  }
  #color-boxes {
    display: flex;
    grid-row: 1;
    margin-top: 350px;
  }
}
@media screen and (min-width: 1200px) {
  #quality h3 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  #color-boxes {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    margin: 0;
    align-items: center;
  }
  #angles {
    margin: 0;
    margin-top: 20px;
    grid-row: 2;
  }
  #scroll-con {
    height: 1300px;
  }
}