h2 {
  font-family: "roboto mono", segoe UI, Arial;
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

model-viewer {
  width: 100%;
  height: 90%;
  background-color: #ffffff;
}

p {
  font-family: "roboto mono", segoe UI, Arial;
  font-size: 25px;
  color: #fff;
}

a {
  font-family: "roboto mono", segoe UI, Arial;
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 35px;
  }
  p {
    font-size: 30px;
  }
  a {
    text-decoration: none;
  }
}
#main-nav {
  background-color: #000000;

}

#main-header {
  background-color: #000000;
}

#hamburger {
  padding-top: 20px;
  font-size: 43px;
  z-index: 2;
}

#ar-view {
  background-color: black;
}

@media screen and (min-width: 768px) {
  #main-nav {
    display: block;
  }
  #main-nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #fff;
    font-size: 30px;
  }
  #main-nav ul li a {
    text-decoration: none;
  }
  #hamburger {
    display: none;
  }
}
#main-footer {
  height: 160px;
  background-color: #000000;
}

.fa {
  color: #fff;
  font-size: 75px;
}

.fa-arrow-up {
  font-size: 30px;
  text-align: center;
}

#socials {
  display: flex;
  justify-content: space-between;
}

#footer-text {
  display: none;
}

@media screen and (min-width: 768px) {
  .fa-arrow-up {
    font-size: 30px;
    text-align: center;
    float: right;
  }
  #footer-text {
    font-size: 30px;
    display: flex;
  }
}
.card {
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.hidden-item {
  position: absolute;
  font-size: 25px;
  margin-left: -20px;
  margin-right: 27px;
  margin-top: 27px;
}

.gallery-box-text {
  background-color: #292929;
  height: 100px;
  opacity: 85%;
  margin-top: 240px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding-top: 14px;
}

.hidden-item p {
  background-color: #000000;
  text-align: center;
  margin-left: 56px;
  width: 97px;
  height: 33px;
}

.m-boxed:hover .hidden-item {
  top: 0%;
  display: flex;
  justify-content: space-evenly;
  /* transition: 2s ease-in-out;  fix transition */
}

.m-boxed:hover .gallery-box-text {
  height: 358px;
  margin-top: -18px;
  padding-top: 273px;
  transition: 0.2s ease-in-out;
  /* clean up code */
}

.contact-box {
  background-color: #353535;
  padding-left: 14px;
  color: #fff;
  font-size: 30px;
  height: 59px;
  width: 100%;
  margin-bottom: 25px;
  border: 0px;
}

#name {
  margin-top: 64px;
}

#message {
  height: 219px;
}

.linebreak {
  border-top: solid 3px #000000;
  margin-top: 28px;
  padding-top: 35px;
  padding-bottom: 35px;
  color: #fff;
}

body {
  background: #000000;
}

#hero {
  background-color: #000000;
  padding-bottom: 50px;
}

#hero h2 {
  font-size: 30px;
  color: #fff;
}



.m-boxed {
  height: 358px;
  margin-bottom: 40px;
  position: relative;
  background: rgb(255, 255, 255);
}

#filter {
  background-color: rgb(104, 124, 131);
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
  height: 58px;
  width: 184px;
  font-size: 25px;
  border-width: 0px;
}

#sort {
  display: none;
}

#featured-text {
  display: none;
}

#m-hidden {
  display: none;
}

.hidden-item {
  display: none;
}

.d-gallery {
  display: none;
}

#spencex-about {
  display: none;
}



#contact {
  background-color: #414242;
}

#touch {
  margin-bottom: 60px;
  margin-top: 16px;
  height: 59px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 25px;
  border-width: 0px;
  transition: all 0.2s ease-in 0s;
}

@media screen and (min-width: 768px) {
  #hero-text h2 {
    font-size: 60px;
  }
  #filter {
    display: none;
  }


  #sort {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    margin-top: 36px;
  }
  .sort {
    font-size: 20px;
    height: 56px;
    width: 220px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: rgb(104, 124, 131);
    border-width: 0px;
  }
  .d-gallery {
    display: block;
  }
  #spencex-about {
    display: block;
    float: left;
    margin-right: 30px;
  }
  #about div p {
    border-top: 0px rgb(241, 112, 36);
  }
  #about-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}