@use 'fonts';

$primary-color: #000;
$secondary-color: #fff;
$accent-color: #333;
$body-text-color: #333;
$heading-font-family: 'Poppins', poppins, arial;
$body-font-family: 'Poppins',arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;

