.contact-box {
    background-color: #A0BBC5;
    padding-left: 14px;
    color: #fff;
    font-size: 30px;
    height: 59px;
    width: 100%;
    margin-bottom: 25px;
    border: 0px;
  }
  
  #name {
    margin-top: 64px;
  }
  
  #message {
    height: 219px;
  }