
  .hidden-item  {
    position: absolute;
    font-size: 25px;
    margin-left: -20px;
    margin-right: 27px;
    margin-top: 27px;
  }

  .gallery-box-text {
    background-color: #fc2d2d;
    height: 100px;
    opacity: 85%;
    margin-top: 240px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding-top: 14px;
  }

  .hidden-item p {
    background-color: #A0BBC5;
    text-align: center;
    margin-left: 56px;
    width: 97px;
    height: 33px;
  }

  .m-boxed:hover .hidden-item {
    top: 0%;
    display: flex;
    justify-content: space-evenly;
    /* transition: 2s ease-in-out;  fix transition */
  }

  .m-boxed:hover .gallery-box-text {
    height: 358px;
    margin-top: -18px;
    padding-top: 273px;
    transition: .2s ease-in-out;
    /* clean up code */
  }